<ng-container *ngIf="!!(result$ | async)">

    <!-- TREE GRID -->
    <ejs-grid id='grid' 
              #grid
              [dataSource]='DATA_GRID'
              [allowFiltering]='true'
              [allowPaging]='true'
              [pageSettings]='pageSettings'
              [allowResizing]='true'
              [allowExcelExport]='true'
              [filterSettings]='filterSettings'
              (headerCellInfo)='headerCellInfo($event)'
              (toolbarClick)='toolbarClick($event)'
              [toolbar]='toolbarOptions'
              >
            <e-columns>
                <e-column field='productId' headerText='Product ID' textAlign='left' width=80></e-column>
                <e-column field='label' headerText='Description' textAlign='Left' width=120></e-column>
                <e-column field='typeFabrique' headerText='Product type' textAlign='Center' width=50></e-column>
                <e-column field='coef' headerText='Coefficient' textAlign='Center' width=60></e-column>
                <e-column field='percentFictive' headerText='% fictive' textAlign='Left' width=60></e-column>
                <e-column field='costCenterLabel' headerText='Cost center' textAlign='Left' width=60></e-column>
                <e-column field='n2tajUoe1' headerText='N2 TAJ_UOE1' textAlign='Left' width=60></e-column>
                <e-column field='n2tajUoe2' headerText='N2 TAJ_UOE2' textAlign='Left' width=60></e-column>
                <e-column field='n1tajUoe1' headerText='N1 TAJ_UOE1' textAlign='Left' width=60></e-column>
                <e-column field='n1tajUoe2' headerText='N1 TAJ_UOE2' textAlign='Left' width=60></e-column>
            </e-columns>
            <ng-template #rowTemplate let-DATA_GRID>
                <tr>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="DATA_GRID.productId">
                             {{ DATA_GRID.productId }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="DATA_GRID.label">
                             {{ DATA_GRID.label }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                            [matTooltip]="DATA_GRID.typeFabrique">
                            {{ DATA_GRID.typeFabrique }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                            [matTooltip]="DATA_GRID.coef">
                            {{ DATA_GRID.coef }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="DATA_GRID.percentFictive">
                             {{ DATA_GRID.percentFictive }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="DATA_GRID.costCenterLabel">
                             {{ DATA_GRID.costCenterLabel }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n2tajUoe1) : convertToMin(DATA_GRID.n2tajUoe1)">
                             {{ allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n2tajUoe1) : convertToMin(DATA_GRID.n2tajUoe1) }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n2tajUoe2) : convertToMin(DATA_GRID.n2tajUoe2)">
                             {{ allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n2tajUoe2) : convertToMin(DATA_GRID.n2tajUoe2) }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n1tajUoe1) : convertToMin(DATA_GRID.n1tajUoe1)">
                             {{ allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n1tajUoe1) : convertToMin(DATA_GRID.n1tajUoe1) }}
                        </div>
                    </td>
                    <td class="border">
                        <div class="custom"
                             [matTooltip]="allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n1tajUoe2) : convertToMin(DATA_GRID.n1tajUoe2)">
                             {{ allocationUnit === 'HOURS' ? formatNumber(DATA_GRID.n1tajUoe2) : convertToMin(DATA_GRID.n1tajUoe2) }}
                        </div>
                    </td>
                </tr>
            </ng-template>
    </ejs-grid>
</ng-container>
    
<p class="error-message">
    <span *ngIf="error">
        <strong>Error: </strong> {{error.title}}
    <span>
</p>
    
<!-- Indeterminating Spinner -->
<mat-spinner class="top"
             mode="indeterminate"
             diameter="54"
             *ngIf="loading$ | async"></mat-spinner>