<ng-container *ngIf="!!(resultGammesGant$ | async)">
    <div class="header-page">
        <div class="product" matTooltip="{{ resGammesGant[0].product.productId }} - {{ resGammesGant[0].product.descriptionEn }}">
            <div class="logo">
                <mat-icon svgIcon="pmt:extension"></mat-icon>
            </div>
            <div class="label"> {{ resGammesGant[0].product.productId }} </div>
        </div>
        <div class="separator">/</div>
        <div class="costcenter" matTooltip="{{ resGammesGant[0].costcenter.costcenterId }} - {{ resGammesGant[0].costcenter.name }}">
            <div class="logo">
                <mat-icon svgIcon="pmt:credit_card"></mat-icon>
            </div>
            <div class="label"> {{ resGammesGant[0].costcenter.costcenterId }} </div>
        </div>
        <div class="separator">/</div>
        <div class="nomenclature">
            <div class="logo">
                <mat-icon svgIcon="pmt:call_split"></mat-icon>
            </div>
            <div class="label"> {{nomenclature$ | async}} </div>
        </div>
        <div class="separator">/</div>
        <div class="indicator">
            <div class="logo">
                <mat-icon svgIcon="pmt:straighten"></mat-icon>
            </div>
            <div class="label"> {{ allocationIndicator$ | async }} </div>
        </div>
        <div class="allocation">
            <label class="label_unit"> Allocation Unit : </label>
            <mat-radio-group aria-label="Select an option"
                             [(ngModel)]="allocationUnit"
                             #radioGroup="matRadioGroup">
                <mat-radio-button value="HOURS"
                                  (change)="onSelectionAllocationUnit('HOURS')"
                                  class="radio_unit">
                                  Hours
                </mat-radio-button>
                <mat-radio-button value="MINUTES"
                                  (change)="onSelectionAllocationUnit('MINUTES')">
                                  Minutes
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <mat-divider class="bottom"></mat-divider>

    <h2>Gamme evolution through time</h2>

    <div class="top">

        <div class="side-left">
            <div class="">
                <ng-container *ngFor="let gamme of resGammesGant; let i = index">
                    <div class="gamme-row">
                        <div class="gamme-icon">
                            <button mat-mini-fab disabled>
                                <mat-icon class="trending-down"
                                            svgIcon="pmt:trending_down"
                                            *ngIf="gamme.delta < 0">
                                </mat-icon>
                                <mat-icon class="trending-flat"
                                            svgIcon="pmt:trending_flat"
                                            *ngIf="gamme.delta === 0">
                                </mat-icon>
                                <mat-icon class="trending-up"
                                            svgIcon="pmt:trending_up"
                                            *ngIf="gamme.delta > 0">
                                </mat-icon>
                            </button>
                        </div>
                        <div class="gamme-label">
                            <div class="gamme-value">
                                {{ allocationUnit === 'HOURS' ? convertToHrs(gamme.value) : convertToMin(gamme.value) }} (<span *ngIf="gamme.delta > 0">+</span>{{ gamme.formatedDelta }}%)
                            </div>
                            <div class="gamme-date">
                                Since {{ gamme.validityStart | date: 'yyyy/MM/dd' }}
                            </div>
                        </div>

                    </div>
                    <mat-divider class="bottom10"></mat-divider>
                </ng-container>
            </div>    

            <div class="ccp">
                <div class="ccp-icon">
                    <mat-icon svgIcon="pmt:straighten"></mat-icon>
                </div>
                <div *ngIf="resGammesGant.length>0" class="ccp-label">
                    {{ allocationUnit === 'HOURS' ? resGammesGant[0].measureUnitDescription : 'Minutes (MIN)' }}
                </div>
            </div>
        </div>    

        <div class="side-right">
            <svg>
                <defs>  
                    <g id="add_circle">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
                    </g>
                    <g id="remove_circle">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z"/>
                    </g>
                </defs>
                <g transform="translate(20, 0)">
                    <!-- GANT HEADER -->
                    <g transform="translate(0, 0)">
                        <text class="year" transform="translate(80, 30)">{{ year.lastYear }}</text>
                        <text class="year" transform="translate(260, 30)">{{ year.currentYear }}</text>
                        <text class="year" transform="translate(440, 30)">{{ year.nextYear }}</text>

                        <circle class="start" cx="5" cy="45" r="4"></circle>
                        <circle class="start" cx="186" cy="45" r="4"></circle>
                        <circle class="start" cx="365" cy="45" r="4"></circle>
                        <path d="M 570 60 L 580 70 L 570 80" transform="translate(-29, -25.5)"></path>

                        <line class="link" x1="10" x2="180" y1="45" y2="45"></line>
                        <line class="link" x1="190" x2="360" y1="45" y2="45"></line>
                        <line class="link" x1="370" x2="540" y1="45" y2="45"></line>
                    </g>    

                    <!-- GANT BODY -->
                    <g *ngFor="let gamme of resGammesGant; let i = index">

                        <line class="dotted-line" x1="300" x2="300" y1="45" [attr.y2]="getLineY2Value(resGammesGant)" [attr.transform]="getTransformDoddedLine(gamme)"></line>

                        <rect *ngIf="checkIfStartValidityDateIsAfterCurrentMonth(gamme.validityStart)"
                              class="rectangle"
                              [ngClass]="{'pointer': hasPalmaAccessOnPlantGiven()}"
                              [matTooltip]="hasPalmaAccessOnPlantGiven() ? 'Click here to modify allocation' : null"
                              (click)="openDialogEditAllocation(gamme)"
                              height="50" rx="6" ry="6"
                              [attr.width]="getWidthRect(i, gamme, resGammesGant)"
                              [attr.transform]="getTransformYellowRect(gamme, i)">
                        </rect>

                        <rect *ngIf="checkIfStartValidityDateIsBeforeCurrentMonth(gamme.validityStart)"
                              class="rectangle" height="50" rx="6" ry="6" 
                              [ngClass]="{'pointer': isAdminProfile()}"
                              [matTooltip]="isAdminProfile() ? 'Click here to modify allocation' : null"
                              (click)="isAdminProfile() ? openDialogEditAllocation(gamme) : false "
                              [attr.width]="getWidthRect(i, gamme, resGammesGant)" 
                              [attr.transform]="getTransformYellowRect(gamme, i)">
                        </rect>
                        
                        <g [attr.transform]="getTransformPlusMinusIcon(gamme, resGammesGant)">
                            <use class="add-circle" href="#add_circle" *ngIf="hideUserInfos[i]" (click)="openUserInfos(i)"></use>
                            <use class="add-circle" href="#remove_circle" *ngIf="!hideUserInfos[i]" (click)="closeUserInfos(i)"></use>
                        </g>

                        <g *ngIf="!hideUserInfos[i]" [attr.transform]="getTransformUserInfos(gamme, resGammesGant)">
                            <g transform="translate(0, 0)">
                                <circle class="user-circle" cx="300" cy="360" r="23"></circle>
                                <text class="user-acronym" transform="translate(288, 369)">{{ gamme.userName | uppercase | slice:0:1 }}</text>
                            </g>
                            <g transform="translate(0, 0)">
                                <text class="user-name" transform="translate(340, 353)">{{ gamme.userName }}</text>
                                <text class="user-date" transform="translate(340, 373)">{{ gamme.dateUpdate | date: 'yyyy/MM/dd' }} at {{ gamme.validityStart | date: 'HH:MM' }}</text>
                            </g>
                            <g transform="translate(2, 0)">
                                <rect class="user-contour" height="60" rx="10" ry="10" width="270" transform="translate(275, 400)"></rect>
                                <text class="user-comment" transform="translate(290, 430)">{{ gamme.comment }}</text>
                            </g>
                        </g>
                    </g>
                </g>    
            </svg>
        </div>
        
    </div>

    <!-- Go back Button -->
    <button class="go-back"
            matTooltip="Back to list of gammes"
            mat-raised-button
            (click)="navigateBack()">
        Go back
    </button>

    <!-- Floating add allocation btn -->
    <button mat-fab
            *hasPalmaAccessOnPlant="plant$ | async"
            class="add"
            matTooltip="Add a new allocation"
            (click)="openDialogCreateAllocation()">
            <mat-icon svgIcon="pmt:add"></mat-icon>
    </button>
</ng-container>

<!-- Indeterminating Spinner -->
<mat-progress-spinner mode="indeterminate"
                      diameter="54"
                      *ngIf="loading$ | async"></mat-progress-spinner>