:host {
    display: block;
    padding: 20px;
}
  
.bottom {
    margin-bottom: 20px;
}

.bottom10 {
    margin-bottom: 10px;
}

.header-page {
    margin-bottom: 17px;
}

.product {
    float: left;
}

.separator {
    margin-left: 2rem;
    margin-right: 1rem;
    float: left;
}

.costcenter {
    float: left;
}

.nomenclature {
    float: left;
}

.indicator {
    display: inline-block;
}
  
.logo {
    float: left;
    margin-top: 2px;
}
  
.label {
    font-size: 17px;
    font-weight: 500;
    margin-left: 2.5rem;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}

.top {
    margin-top: 130px;
}

.trending-up {
    color: rgb(76, 219, 28);
}
 
.trending-flat {
    color: rgba(0, 0, 0, 0.87);
}

.trending-down {
    color: rgb(228, 20, 20);
}

.gamme-row {
    margin-bottom: 5px;
}

.gamme-icon {
    float: left;
}

.gamme-label {
    display: inline-block;
    margin-left: 1.2rem;
    line-height: 22px;
}

.gamme-value {
    font-size: 17px;
    font-weight: 500;
}

.gamme-date {
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-weight: 600;
}

.ccp {
    margin-left: 3.8rem;
    color: rgb(165, 165, 165);
    display: inline-block;
}

.ccp-icon {
    float: left;
}

.ccp-label {
    display: inline-block;
    margin-left: 1.2rem;
    font-size: 13px;
    font-weight: 500;
}

.add {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.go-back {
    position: fixed;
    bottom: 24px;
}

.side-left {
    display: inline-block;
    position: absolute;
    width: 97%;
}

.side-right {
    width: 66%;
    display: inline-block;
    position: relative;
    top: -70px;
    left: 34%;
}

svg {
    width: 100%;
    height: 800px;

    line {
        stroke: black;
        &.link {
            stroke-linecap: round;
            stroke-dasharray: 4, 0;
            stroke-width: 2;
        }
        &.dotted-line {
            stroke-dasharray: 4, 2;
            stroke-width: 1;
        }
    }

    circle {
        &.start {
            fill: black;
            stroke: black;
            stroke-width: 2px;
        }
        &.user-circle {
            fill: #e0e0e0;
        }
    }

    text {
        &.year {
            color: black;
            font-weight: 600;
        }
        &.user-name {
            font-size: 17px;
            font-weight: 600;
        }
        &.user-acronym {
            font-size: 28px;
            font-weight: 600;
        }
        &.user-date {
            fill: #a5a5a5;
            font-size: 14px;
            font-weight: 600;
        }
        &.user-comment {
            font-size: 14px;
            font-weight: 400;
        }
    }

    rect {
        &.rectangle {
            fill: #fad503;
        }

        &.user-contour {
            fill: white;
            stroke-width: 1px;
            stroke: #bbbbbb;
        }
    }
}

.add-circle {
    fill: #b1b1b1;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.allocation {
    font-weight: 500;
    margin-left: 20rem;
    display: inline-block;

    .label_unit {
        margin-right: 0.6rem;
    }

    .radio_unit {
        margin-right: 0.8rem;
    }
}