<h2 mat-dialog-title>
    Delete Cost center
</h2>

<mat-dialog-content>
    <p> Are you sure you want to delete the allocations related to this cost center : 
        <span class="costcenter"> {{ (costcenter$ | async).name }} </span> ? 
    </p>

    <p class="error-message">
        <span *ngIf="error">
            <strong>Error:</strong> {{error.title}} (Code {{error.status}})
        <span>
    </p>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button mat-button
            mat-dialog-close>
        Cancel
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="isLoading"
            (click)="onValid()">
        <mat-icon svgIcon="pmt:play_arrow"
                  *ngIf="!isLoading; else loader">
        </mat-icon>
        Valid
    </button>
</mat-dialog-actions>

<ng-template #loader>
    <mat-progress-spinner mode="indeterminate"
                          diameter="18">
    </mat-progress-spinner>
</ng-template>