.actions {
    justify-content: flex-end;
}

.mat-dialog-content {
    min-height: 100px;
}

.actions {
    justify-content: flex-end;
}

.mat-progress-spinner {
    display: inline-block;
    margin: 3px;
}

.error-message {
    min-height: 24px;
    font-size: 13px;
    color: red;
    margin-top: 12px;
}

.costcenter {
    font-weight: 400;
}