<h2 mat-dialog-title>
    Select a cost center
</h2>

<mat-dialog-content>
    <pmt-cost-center-cp-by-phase-dropdown name="Select a cost center"
                                          [plant$]="plant$"
                                          [phase$]="phase$"
                                          (onChange)="costCenter$.next($event)">
    </pmt-cost-center-cp-by-phase-dropdown>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button mat-button
            mat-dialog-close>
        Cancel
    </button>
    <button mat-raised-button
            [mat-dialog-close]="costCenter$.getValue()"
            color="primary">
        Valid
    </button>
</mat-dialog-actions>