<ng-container *ngIf="!!(resultGammes$ | async)">

  <div class="page-header">
      <div class="return-btn">
          <!-- Floating return to search products list btn -->
          <button mat-mini-fab
              [matTooltip]="!!(isBackToPalmaHome$ | async) ? 'Return to Palma home page' : 'Return to search Product lis'"
              (click)="goBackToSearchProductOrPalmaHome()">
              <mat-icon svgIcon="pmt:keyboard_backspace"></mat-icon>
          </button>
      </div>
      <div class="logo">
          <mat-icon svgIcon="pmt:extension">
          </mat-icon>
      </div>
      <div class="label"> {{ product?.productId }} - {{ product?.description }} </div>
      <div class="allocation_unit">
          <label class="label_unit"> Allocation Unit : </label>
          <mat-radio-group aria-label="Select an option"
                           [(ngModel)]="allocationUnit"
                           #radioGroup="matRadioGroup">
              <mat-radio-button value="HOURS"
                                (change)="onSelectionAllocationUnit('HOURS')"
                                class="radio_unit">
                                Hours
              </mat-radio-button>
              <mat-radio-button value="MINUTES"
                                (change)="onSelectionAllocationUnit('MINUTES')">
                                Minutes
              </mat-radio-button>
          </mat-radio-group>
      </div>
  </div>
  <mat-divider class="bottom"></mat-divider>

  <h2>List of Allocations</h2>

  <mat-tab-group class="matTabGroup" #tabGroup (selectedTabChange)="tabChanged($event)" [selectedIndex]="tabSelectedIndex$ | async">

      <mat-tab label="Component">

        <mat-form-field class="mat-form-field">
          <input matInput (keyup)="applyFilterN2Gammes($event.target.value)" placeholder="Filter by GM">
        </mat-form-field>

        <div class="container-table">

          <table mat-table [dataSource]="N2_GAMMES" class="mat-elevation-z8">
              <!-- Nomenclature Column -->
              <ng-container matColumnDef="nomenclature">
                <th mat-header-cell *matHeaderCellDef> Nomenclature </th>
                <td mat-cell *matCellDef="let element"> {{ element.nomenclature }} </td>
              </ng-container>

              <!-- Cost center Column -->
              <ng-container matColumnDef="costCenter">
                <th mat-header-cell *matHeaderCellDef> Cost center </th>
                <td mat-cell *matCellDef="let element"> {{ element.costcenter.costcenterId }} - {{ element.costcenter.name }} </td>
              </ng-container>

              <!-- GM Column -->
              <ng-container matColumnDef="gm">
                <th mat-header-cell *matHeaderCellDef> GM </th>
                <td mat-cell *matCellDef="let element"> {{ element.gm }} </td>
              </ng-container>

              <!-- Type UO Column -->
              <ng-container matColumnDef="typeUO">
                <th mat-header-cell *matHeaderCellDef> <span class="marginleft11">UO Type</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <mat-list-item class="fontsize12" *ngFor="let typeUO of element.typeUOs"> {{ convertUOType(allocationUnit, typeUO) }} </mat-list-item>
                    </mat-list>
                </td>
              </ng-container>

              <!-- Indicator Column -->
              <ng-container matColumnDef="indicator">
                <th mat-header-cell *matHeaderCellDef> <span class="marginleft11">Indicator</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <mat-list-item class="fontsize12" *ngFor="let indicator of element.indicators"> {{ indicator }} </mat-list-item>
                    </mat-list>
                </td>
              </ng-container>

              <!-- Gamme Column -->
              <ng-container matColumnDef="allocation">
                <th mat-header-cell *matHeaderCellDef> <span class="marginleft13">Allocation</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <mat-list-item class="fontsize12" *ngFor="let gamme of element.gammes; let i = index">
                            <button mat-button
                                    (click)="goToGammeDetail(element, i)"
                                    matTooltip="Click here to visualize allocation details">
                                <mat-icon class="trending-up"
                                          svgIcon="pmt:trending_up"
                                          *ngIf="gamme.delta > 0">
                                </mat-icon>
                                <mat-icon class="trending-flat"
                                          svgIcon="pmt:trending_flat"
                                          *ngIf="gamme.delta === 0">
                                </mat-icon>
                                <mat-icon class="trending-down"
                                          svgIcon="pmt:trending_down"
                                          *ngIf="gamme.delta < 0">
                                </mat-icon>
                                {{ allocationUnit === 'HOURS' ? convertToHrs(gamme.value) : convertToMin(gamme.value) }} (<span *ngIf="gamme.delta > 0">+</span>{{ gamme.delta }}%)
                            </button>
                        </mat-list-item>
                    </mat-list>
                </td>
              </ng-container>

              <!-- Delete Column -->
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *hasPalmaAccessOnPlant="plant$ | async">
                    <button mat-icon-button
                            (click)="openDialogDeleteAllocations(element)"
                            *ngIf="isRemovableAllocations(element)">
                      <mat-icon matTooltip="Delete Allocations"
                                svgIcon="pmt:delete"></mat-icon>
                    </button>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

      </mat-tab>

      <mat-tab label="Assembled">

          <mat-form-field class="mat-form-field">
              <input matInput (keyup)="applyFilterN1Gammes($event.target.value)" placeholder="Filter by GM">
          </mat-form-field>

          <div class="container-table">
            <table mat-table [dataSource]="N1_GAMMES" class="mat-elevation-z8">

              <!-- Nomenclature Column -->
              <ng-container matColumnDef="nomenclature">
                <th mat-header-cell *matHeaderCellDef> Nomenclature </th>
                <td mat-cell *matCellDef="let element"> {{ element.nomenclature }} </td>
              </ng-container>

              <!-- Cost center Column -->
              <ng-container matColumnDef="costCenter">
                <th mat-header-cell *matHeaderCellDef> Cost center </th>
                <td mat-cell *matCellDef="let element"> {{ element.costcenter.costcenterId }} - {{ element.costcenter.name }} </td>
              </ng-container>

              <!-- GM Column -->
              <ng-container matColumnDef="gm">
                <th mat-header-cell *matHeaderCellDef> GM </th>
                <td mat-cell *matCellDef="let element"> {{ element.gm }} </td>
              </ng-container>

              <!-- Type UO Column -->
              <ng-container matColumnDef="typeUO">
                <th mat-header-cell *matHeaderCellDef> <span class="marginleft11">UO Type</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <mat-list-item class="fontsize12" *ngFor="let typeUO of element.typeUOs"> {{ convertUOType(allocationUnit, typeUO) }} </mat-list-item>
                    </mat-list>
                </td>
              </ng-container>

              <!-- Indicator Column -->
              <ng-container matColumnDef="indicator">
                <th mat-header-cell *matHeaderCellDef> <span class="marginleft11">Indicator</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <mat-list-item class="fontsize12" *ngFor="let indicator of element.indicators"> {{ indicator }} </mat-list-item>
                    </mat-list>
                </td>
              </ng-container>

              <!-- Gamme Column -->
              <ng-container matColumnDef="allocation">
                <th mat-header-cell *matHeaderCellDef> <span class="marginleft13">Allocation</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        <mat-list-item class="fontsize12" *ngFor="let gamme of element.gammes; let i = index">
                            <button mat-button (click)="goToGammeDetail(element, i)"
                                    matTooltip="Click here to visualize allocation details">
                                <mat-icon class="trending-up"
                                          svgIcon="pmt:trending_up"
                                          *ngIf="gamme.delta > 0">
                                </mat-icon>
                                <mat-icon class="trending-flat"
                                          svgIcon="pmt:trending_flat"
                                          *ngIf="gamme.delta === 0">
                                </mat-icon>
                                <mat-icon class="trending-down"
                                          svgIcon="pmt:trending_down"
                                          *ngIf="gamme.delta < 0">
                                </mat-icon>
                                {{ allocationUnit === 'HOURS' ? gamme.value :  convertToMin(gamme.value) }} (<span *ngIf="gamme.delta > 0">+</span>{{ gamme.delta }}%)
                            </button>
                        </mat-list-item>
                    </mat-list>
                </td>
              </ng-container>

              <!-- Delete Column -->
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *hasPalmaAccessOnPlant="plant$ | async">
                    <button mat-icon-button
                            (click)="openDialogDeleteAllocations(element)"
                            *ngIf="isRemovableAllocations(element)">
                      <mat-icon matTooltip="Delete Allocations"
                                svgIcon="pmt:delete"></mat-icon>
                    </button>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
      </mat-tab>

      <mat-tab label="Nomenclature">

          <pmt-product-nomenclature [allocationUnit]="allocationUnit">
          </pmt-product-nomenclature>

      </mat-tab>
  </mat-tab-group>

  <!-- Floating add Cost center btn -->
  <ng-container *hasPalmaAccessOnPlant="plant$ | async">
    <button mat-fab
            *ngIf="!(isNomenclatureTab$ | async)"
            matTooltip="Add a cost center"
            class="add"
            (click)="openDialogCostCenter()">
            <mat-icon svgIcon="pmt:add"></mat-icon>
    </button>
  </ng-container>
</ng-container>

<!-- Indeterminating spinner -->
<mat-progress-spinner mode="indeterminate"
                      diameter="54"
                      *ngIf="loading$ | async"></mat-progress-spinner>