  .error-message {
    min-height: 24px;
    font-size: 14px;
    color: red;
    margin-top: 12px;
}
  
.top {
    margin-top: 10px;
    margin-left: 120px
}
  
.fontsize12 {
    font-size: 12px;
}
  
.fontsize14 {
    font-size: 14px;
}

.custom {
    text-align: center;
    padding: 16px;
}