.validity-date {
  width: 20%;
  margin: 20px auto 0;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.margin {
  margin: 10px;
}

[hidden] { display: none !important;}