<!-- VALIDITY DATE DATEPICKER -->
<div class="validity-date">
    <mat-form-field>
      <input matInput
             [matDatepicker]="dp"
             placeholder="Validity date"
             [formControl]="validityDate" />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
</div>

<!-- SLIDE TOGGLE -->
<section class="section">
  <mat-slide-toggle class="margin"
                    [color]="color"
                    [checked]="checked"
                    (change)="toggle()">
        Switch table
  </mat-slide-toggle>
</section>

<!-- TREE GRID -->
<pmt-tree-grid-nomenclature [hidden]="checked"
                            [allocationUnit]="allocationUnit">
</pmt-tree-grid-nomenclature>

<!-- GRID -->
<pmt-grid-nomenclature  [hidden]="!checked"  
                       [allocationUnit]="allocationUnit">
</pmt-grid-nomenclature>